<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./../partials/head.ejs') %>
    <script src="/ts/pages/stats.js" defer></script>
    <title>Stats</title>
</head>

<body>
    <div class="flex flex-row-reverse md:flex-row">
        <%- include('./../partials/sidebar', { user }) %>
        <main class="w-screen max-w-2xl mx-auto px-4 py-12">
            <h1 class="text-4xl text-slate-900 font-semibold">🧮 Stats</h1>
            <p class="text-slate-500 mt-2">An overview of statistics of previously done exercises. You can view the exercise volumes done in a workout or most reps or the max weight done in the workout.</p>

            <%# pinned stats %>
            <section class="mt-8">                
                <% stats.forEach((stat) => { %>
                    <div data-stat="<%= stat.id %>">
                        <div class="flex justify-between items-center my-2">
                            <h4 class="text-xl text-slate-500 font-medium flex-1 capitalize"><%= stat.name %> </h4>
                            
                            <select data-stat-type autocomplete="off" class="ml-4 bg-slate-50 border-2 border-slate-100 hover:border-slate-300 text-slate-900 text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 block w-48 p-2.5 transition-colors">
                                <option value="volume">Exercise volume</option>
                                <option value="pr">PR Weight</option>
                                <option value="reps">PR Reps</option>
                            </select>
                            <button data-pin="<%= (stat.pinned) ? 'pinned' : ''%>" class="ml-4 <%= (stat.pinned) ? 'bg-cyan-300 text-cyan-900 border-cyan-300 hover:border-cyan-500' : 'bg-slate-50 text-slate-900 border-slate-100 hover:border-slate-300' %> border-2 text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 block p-2.5 transition-colors">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2.5 -2.5 24 24" width="24" fill="currentColor"><path d="M12.626 11.346l-.184-1.036 4.49-4.491-2.851-2.852-4.492 4.49-1.035-.184a5.05 5.05 0 0 0-2.734.269l6.538 6.537a5.05 5.05 0 0 0 .268-2.733zm-4.25 1.604L2.67 18.654a1.008 1.008 0 0 1-1.426-1.426l5.705-5.704L2.67 7.245a7.051 7.051 0 0 1 6.236-1.958l3.747-3.747a2.017 2.017 0 0 1 2.853 0l2.852 2.853a2.017 2.017 0 0 1 0 2.852l-3.747 3.747a7.051 7.051 0 0 1-1.958 6.236L8.376 12.95z"></path></svg>
                            </button>
        
                        </div>
                        <div>
                            <canvas data-chart class="w-full max-h-40"></canvas>
                        </div>
                    </div>
                <% }) %>
            </section>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script>
        // data for pinned stats
        const stats = JSON.parse(`<%- JSON.stringify(stats) %>`);
    </script>
</body>

</html>