<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./../../partials/head.ejs') %>
    <script src="/ts/partials/workoutForm.js" defer></script>
    <script src="/ts/pages/workout/create.js" defer></script>
    <title>Fizzy | Workout</title>
</head>

<body>
    <div class="flex flex-row-reverse md:flex-row">
        <%- include('./../../partials/sidebar', { user }) %>

        <%# rest modal %> 
        <div data-open-rest class="hidden bg-slate-900 bg-opacity-60 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-full justify-center items-center">
            <div class="relative p-4 w-full max-w-md h-auto">
                <div class="relative bg-white rounded-lg shadow">
                    <div class="p-6 text-center">
                        <div class="flex mb-5 items-center mx-auto w-fit">
                            <svg class="text-slate-400" xmlns="http://www.w3.org/2000/svg" viewBox="-4 -2 24 24" width="36" fill="currentColor"><path d="M9 11h2a1 1 0 0 1 0 2H8a.997.997 0 0 1-1-1V8a1 1 0 1 1 2 0v3zM1.869 6.861a1.5 1.5 0 1 1 2.077-1.76 7.967 7.967 0 0 1 1.126-.548A2.5 2.5 0 0 1 6.5 0h3a2.5 2.5 0 0 1 1.428 4.553c.39.154.767.337 1.126.548a1.5 1.5 0 1 1 2.077 1.76 8 8 0 1 1-12.263 0zM8 18A6 6 0 1 0 8 6a6 6 0 0 0 0 12zM6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3z"></path></svg>
                            <h3 data-rest-seconds class="font-normal text-slate-500 text-2xl">30</h3>
                        </div>
                        <button data-close-rest type="button" class="text-slate-500 bg-slate-50 hover:bg-slate-100 focus:ring-4 focus:outline-none focus:ring-slate-200 rounded-lg border-2 border-slate-200 text-sm font-medium px-5 py-2.5 hover:text-slate-900 focus:z-10">Cancel rest</button>
                    </div>
                </div>
            </div>
        </div>
        
        <main class="max-w-2xl mx-auto px-4 py-12">
            <h1 class="text-4xl text-slate-800 font-bold capitalize">
                <%= (locals.template) ? template.name : 'Workout' %> 🏋️‍♂️
            </h1>

            <div class="flex flex-col-reverse lg:flex-row">
                <div class="w-full max-w-md">
                    <p class="mt-2 text-slate-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, unde ipsa ex
                        omnis accusantium.</p>
                    
                    <% if (locals.template) { %>
                        <%- include('./../../partials/exerciseForm', { active: true, template }) %>
                    <% } else { %>
                        <%- include('./../../partials/exerciseForm', { active: true }) %>
                    <% } %>
        
                    <button data-add-exercise type="button" class="block w-full bg-cyan-50 border-2 border-cyan-100 hover:border-cyan-300 text-cyan-900 rounded-md transition-all p-2">
                        Add excerise
                    </button>
        
                    <button data-save-modal-open type="button" class="mt-2 w-full border-2 border-cyan-300 bg-cyan-300 rounded-lg hover:border-cyan-500 transition-colors text-cyan-900 p-2 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -7 24 24" width="24" fill="currentColor"><path d="M5.486 9.73a.997.997 0 0 1-.707-.292L.537 5.195A1 1 0 1 1 1.95 3.78l3.535 3.535L11.85.952a1 1 0 0 1 1.415 1.414L6.193 9.438a.997.997 0 0 1-.707.292z"></path></svg>
                        <span class="ml-2">Save workout</span>
                    </button>
                </div>

                <div class="flex-1 pl-0 lg:pl-4 relative">
                    <ul class="grid grid-cols-3 lg:grid-cols-1 gap-4 bg-white lg:bg-slate-100 pt-4 lg:p-4 rounded-lg lg:sticky lg:top-4">
                        <li class="text-slate-500 flex">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -3 24 24" width="24" fill="currentColor"><path d="M18 7V5a1 1 0 0 0-1-1h-1v1a1 1 0 0 1-2 0V4H6v1a1 1 0 1 1-2 0V4H3a1 1 0 0 0-1 1v2h16zm0 2H2v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V9zm-2-7h1a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h1V1a1 1 0 1 1 2 0v1h8V1a1 1 0 0 1 2 0v1z"></path></svg>
                            <time class="ml-2"><%= formattedDate %></time>
                        </li>
                        <li class="text-slate-500 flex">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -2 24 24" width="24" fill="currentColor"><path d="M9 11h2a1 1 0 0 1 0 2H8a.997.997 0 0 1-1-1V8a1 1 0 1 1 2 0v3zM1.869 6.861a1.5 1.5 0 1 1 2.077-1.76 7.967 7.967 0 0 1 1.126-.548A2.5 2.5 0 0 1 6.5 0h3a2.5 2.5 0 0 1 1.428 4.553c.39.154.767.337 1.126.548a1.5 1.5 0 1 1 2.077 1.76 8 8 0 1 1-12.263 0zM8 18A6 6 0 1 0 8 6a6 6 0 0 0 0 12zM6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3z"></path></svg>
                            <time data-time class="ml-2">00:00</time>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </main>
    </div>
</body>

</html>